<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Item</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="login-container">
        <h1>Inser Item to Marketplace</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.itemName.label_tag }}
            {{ form.itemName }}
            {{ form.itemDescription.label_tag }}
            {{ form.itemDescription }}
            {{ form.itemPrice.label_tag }}
            {{ form.itemPrice }}
            {{ form.itemPic.label_tag }}
            {{ form.itemPic }}
            {% if form.errors %}
            <p class="error-message">Invalid username or password</p>
            {% endif %}
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>