<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="login-container">
        <h2>Register</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.username.label_tag }}
            {{ form.username }}
            {{ form.email.label_tag }}
            {{ form.email }}
            {{ form.password.label_tag }}
            {{ form.password }}
            {% if form.errors %}
            <p class="error-message">Invalid username or password</p>
            {% endif %}
            <button type="submit">Register</button>
        </form>
        <p>Have a Account? <a href="{% url 'login' %}">Login Here</a></p>
    </div>
</body>
</html>
